img {
 width: 350px;
 height: 350px;
}

.region-container{
  text-align: center;
  margin: 50px;
  border: 1px solid #cccc;
  transition: all 0.3s ease;
}

.region-container:hover{
  border: 1px solid #2456fc;
}

.progress {
  margin: 10px 0;
}
